DATABASE_RO_URL='postgres://library_ro:ro@192.168.1.162:5432/library'
DATABASE_RW_URL='postgres://library_rw:rw@192.168.1.162:5432/library'
JWT_SECRET='secret'
SERVER_PORT='5003'
# This is a pre-made example token for quick testing
SAMPLE_JWT='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE3NzczOTM3NjgsImV4cCI6MTgwODkyOTc2OCwiYXVkIjoiZGVtby5saWJyYXJ5LmNvbSIsInN1YiI6Impyb2NrZXRAZXhhbXBsZS5jb20ifQ.fH2ddJqav0hNd_s_rK6hcpdFSii25eJuM9KjcN_v-TI'
